vectors/
_build/
app/
logs.txt
dalle/
interview/
.DS_Store
out.txt
raw-openai-chat-streaming-response.txt
.vscode/
prompts/
chatgpt_history/
raw-openai-streaming-response.txt
cache.bin
src/
.chatmd/
dependency-docs/
notes.txt
tools/
gmail
sherlodoc.marshal
.odoc_index/
run.log
raw-openai-response.txt
docs_