vectors/
_build/
logs.txt
dalle/
interview/
.DS_Store
out.txt
raw-openai-chat-streaming-response.txt
.vscode/
prompts/
ochat_history/
raw-openai-streaming-response.txt
cache.bin
src/
.chatmd/
dependency-docs/
notes.txt
tools/
gmail
sherlodoc.marshal
.odoc_index/
run.log
raw-openai-response.txt
docs_
.md_index/
script/
out/
meta-prompt/
markdown/